signup_website/node_modules
signup_website/src/config.json
sign_up_discord_bot/node_modules
sign_up_discord_bot/.env
.env
minecraft_signup_backend/.idea
minecraft_signup_backend/.vscode
minecraft_signup_backend/out
minecraft_signup_backend/target
.vscode
.idea